<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <br><br>
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">name</span></b>
        <p sec:authentication="principal.name"></p>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
    <h1>Product List</h1>

    <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a href="/new">Create New Product</a>
    </div>
    <br/><br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td sec:authorize="hasAnyAuthority('ADMIN','EDITOR')">
                <div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>